.container {
  width: 100%;
  position: relative;
}

.graph-year {
  height: 64px;
}

.graph-year-button {
  padding: 5px;
  cursor: pointer;
}

.graph-year-button:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.graph-year-button.selected {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.chart {
  width: 100%;
  height: 500px;
}

.chart-grid line {
  stroke: rgba(0, 0, 0, 0.12);
  shape-rendering: crispEdges;
}

.chart-grid path {
  stroke: rgba(22,123,123);
  stroke-width: 0;
}

.chart-bar {
  cursor: pointer;
}
