<div class="container" fxLayout="row">
  <div class="graph" fxFlex="100%" fxLayout="column">
    <div class="graph-year"
         fxLayout="row"
         fxLayoutAlign="center center">
      <div class="graph-year-button"
           *ngFor="let year of data"
           (click)="renderData(year)"
           [class.selected]="year.key === selectedYear">
        {{ year.key }}
      </div>
    </div>
    <span fxLayoutAlign="center center">
      Average temperature per month in {{ selectedYear }}
    </span>
    <div class="chart"></div>
  </div>
</div>
