.header {
  height: 64px;
  padding: 10px;

  background-color: #fff;
  border-bottom: 1px solid #571FB5;
}

.system {
  padding: 10px;
}

.segment-small {
  height: 120px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.segment {
  height: 250px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.area {
  width: 250px;
  padding: 10px;
}

.connections {
  padding: 10px;
  overflow-y: auto;
}

.add-connection {
  margin-right: 10px;
  font-size: 20px;

  cursor: pointer;
}

.actions {
  padding: 10px;
}

.actions button {
  margin-left: 5px;
}

.card-header {
  height: 30px;

  border-bottom: 1px solid #571FB5;
}

.text-line {
  padding: 5px;
  margin: 14.5px 1px 0px 1px;
}

.text-form {
  width: 220px;
}
