<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="banner" fxLayout="column">
    <div class="title">
      <span>Daily Urban Crime System</span>
    </div>
    <div class="subtitle">
      <span>Personalizable map of criminal incidents in Greater London</span>
    </div>
  </div>
  <div class="about" fxLayout="row wrap">
    <p>
      A Daily Urban System refers to an area around a city, in which daily commuting
      occurs. It does not just describe the city itself, but includes all the area's
      from which individual commute. By combining all movement it is possible to define
      an urban region, which extends to outside the central city. The application
      focusses on the London Daily urban System. The urban reagion of London is
      generally described as <b>Greater London</b>. According to the 2011 census
      the Greater London area has a population of 8.173.941. The City of London
      itself is actually a much smaller area with less than 10.000 residents.
    </p>
    <p>
      While a Daily Urban System takes all movement to all area's within it is created
      based on individual movements. Movements include the commute from your home
      to work, but could also be the bus ride from to your favourite pub when your
      finish you workday. You are able to create your own individual
      Daily Urban System by selecting various locations which you visit frequently,
      the neighbourhood (Ward) you live in for example. Your Daily Urban System will
      serve as input for mapping crime report in the Greater London area and give you
      some insights in how safe your Dailt Urban System really is.
    </p>
  </div>
  <div class="link">
    <a [routerLink]="['/dashboard']">
      Get started
    </a>
  </div>
</div>
