<div class="container" fxLayout="column">

  <div class="legend" fxLayout="row wrap">

    <div fxFlex="33" fxLayout="row wrap" *ngFor="let color of colorsArray">
      <div class="legend-color" [style.background-color]="color.color"> </div> {{ color.label }}
    </div>

  </div>

  <div fxFlex fxLayout="row">

    <div fxFlex>

      <div class="leaflet"
           leaflet
           [leafletOptions]="options"
           [leafletLayers]="layers"
           [leafletFitBounds]="fitBounds">
      </div>

    </div>
    <div fxFlex fxLayout="column">

      <span class="graph-header">Seasonal patterns by crime type and month</span>
      <div fxFlex>
        <app-radial [graphInput]="crimeCollection"></app-radial>
      </div>
    </div>

  </div>

  <div fxFlex fxLayout="row">

    <div fxFlex fxLayout="column">

      <span class="graph-header">Monthly crimes over time</span>
      <div fxFlex>
        <app-stream [graphInput]="crimeCollection"></app-stream>
      </div>

    </div>
    <div fxFlex fxLayout="column">
      <span class="graph-header">Comparison with London Average</span>
      <div fxFlex>
        <app-radar [graphInput]="crimeCollection"></app-radar>
      </div>
    </div>

  </div>


</div>
